.hamburger {
  margin-top: 15px;
  padding: 10px;
  width: fit-content;
  height: fit-content;
  content: "";
}
.hamburger .line {
  width: 30px;
  height: 3px;
  background-color: #ecf0f1;
  display: block;
  margin: 4px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.hamburger:hover {
  cursor: pointer;
}

#hamburger-3.is-active .line:nth-child(1),
#hamburger-3.is-active .line:nth-child(3) {
  width: 22px;
}

#hamburger-3.is-active .line:nth-child(1) {
  -webkit-transform: translateX(-7px) rotate(-45deg);
  -ms-transform: translateX(-7px) rotate(-45deg);
  -o-transform: translateX(-7px) rotate(-45deg);
  transform: translateX(-7px) rotate(-45deg);
}

#hamburger-3.is-active .line:nth-child(3) {
  -webkit-transform: translateX(-7px) rotate(45deg);
  -ms-transform: translateX(-7px) rotate(45deg);
  -o-transform: translateX(-7px) rotate(45deg);
  transform: translateX(-7px) rotate(45deg);
}
